.header {
font-size: 60px;
font-style: oblique;
font-weight: bold;
color: #000;
top: 30px;
width: 100%;
min-height: 30px;
display: inline-block;
text-align: center;
margin: 0.7em;
}

.te {
  margin: 0.1em;
}

.container {
  text-align: center;
  padding-left: auto;
  padding-right: auto;
}

.comp {
  margin-bottom: 3em;
  padding: 1.5em;
  border-radius: 10em;
}
.fruit {
  background-color: #ac9658
}
.voi {
background-color:#f46c62
}

.angry {
 background-color: #d0012c
}

.netflix {
  background-color: black;
  color: #d03e30
}

.slide {
  background-color: #4ba117
}

.result {
  background-color: #36cefc;
  color: yellow
}

.team {
  margin-bottom: 1em;
  word-break: break-all;
}